
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urls</title>
</head>
<body>
    <a asp-controller="Routes" asp-action="CustomRouteConstraint"> Custom Route Constraint</a>

    <a asp-controller="Routes" asp-action="CustomRouteConstraint" asp-route-day="wed"> Custom Route Constraint with Wednesday variable</a>

</body>
</html>
